{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block main %}
    <main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">말하는 단어장</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>말하는 단어장이란?</h2>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
            </div>
        </div>
    </div>
    </main>
{% endblock %}
